<h1>New Vacation Form</h1>

<%= form_for (@vacation) do |form|%>
  <label> Country: </label><br>
<%= form.collection_select :country_id, Country.all, :id, :name, prompt: true%>

<label> Traveler: </label><br>
<%= form.collection_select :traveler_id, Traveler.all, :id, :name, prompt: true%>

<label> Favorite </label>
<%= form.check_box :favorite%>

<%= form.submit%>

<% end %>