<h1>New Vacation Form</h1>

<%= form_for (@vacation) do |form|%>
  <label> Country: </label><br>
<%= form.collection_select :country_id, @all_countries, :id, :name%>

<label> Traveler: </label><br>
<%= form.collection_select :traveler_id, @all_travelers, :id, :name%>

<label> Favorite </label>
<%= form.label :favorite%>
<%= form.check_box :favorite%>

<%= form.submit%>

<% end %>